[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "campsis"]
	path = campsis
	url = https://github.com/calvagone/campsis
[submodule "campsismod"]
	path = campsismod
	url = https://github.com/calvagone/campsismod
